test-cxr/
**/output/
**/output_single/
**/output_test/
**/results/
**/build/
**/dist/
*.egg-info/
**/__pycache__/
**/logs/
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
**/wandb/
**/weights/
*.swp

.vscode/
*dataset/

files/
load_test.ipynb
*.csv
*.dcm
p16/
*.zip

*.pth
*.pkl
*.err
*.out
normal-triage/
*.pt *.pth *.ckpt *.bin *.zip *.tar *.tar.gz
weights/
*.pt
*.pth
*.ckpt
*.bin
*.npz
*.tar
*.tar.gz
*.zip

# Output arrays
*.npy
